.navbar{
    background-color:dimgray!important;
    font-family: 'Lato', sans-serif;
    font-weight: lighter!important;
    -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.125));
    height: 80px;
}

.navbar .navbar-brand{
    font-size: 36px;
    font-weight: lighter;
    color: #ffffff!important;
    margin-left: 15px;
    -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.125));
}
.navbar .navbar-brand:hover{
    color: #f0f0f0!important;
}
.navbar .navbar-nav li a{
    color: #ffffff !important;
    font-size: 24px;
    marign-right: 25 px;
    margin-left: 25px;
    padding: 14px 16px;

}
.navbar .navbar-nav li a:hover{
    color: #f0f0f0 !important;
    border-bottom:2px solid #ffffff;padding-bottom:10px

}
.navbar .navbar-nav li a:active{
    border-bottom:2px solid #ffffff;padding-bottom:10px

}
.side{
    margin-right: 100px;
}

.header {
    font-size: 100px;
    color: #828282;
    text-align: center;
    text-decoration: underline;


}

.abouttext{
    font-family: Segoe UI;
    font-size: 24px;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}


.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}