html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}


/* Style for h1 header */
h1 {
    font-size: 5vw;
    color: #828282;
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}


/* Style for h2 header */
h2 {
    font-size: 3vw;
    color: #828282;
    text-align: center;
    padding: 40px;
    text-decoration: none;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: .25s;
    animation-fill-mode: forwards;

}


/* The style for body text */
p {
    font-family: Segoe UI;
    font-size: 1.5vw;
    margin-left: 12vw;
    margin-right: 12vw;
    text-align: center;
    padding: 20px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

/* Hyperlink styling */
a {
    text-decoration: none;
    color: FireBrick;
    transition: 0.1s;
}

/* Hyperlink styling */
a:hover {
    text-decoration: none;
    color: OrangeRed;
}


/* All the class information about the footer - which goes to the bottom*/
footer {
    text-align: center;
    color: white;
    padding: 15px;
    background-color: #696969;
    box-shadow: 0 -5px 5px -5px #696969;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

footer p {
    margin: 0;
    margin-top: 20px;
    font-family: Segoe UI;
    font-size: 1.5vw;
    text-align: center;
    padding: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2.0s;
    animation-delay: .25s;
    animation-fill-mode: forwards;
}

/* Phones */
@media (max-aspect-ratio: 6/5) {
    h1 {
        font-size: 8vh;
    }
    h2 {
        font-size: 5vh;
    }
    p {
        font-size: 3vh;
    }
    footer p {
        font-size: 3vh;
    }
}

.footerSpacer {
    width: 100%;
    height: 60vh;
}

/* This is the entiery of the navbar*/
.navbar {
    top: 0;
    background-color: dimgray !important;
    font-family: 'Lato', sans-serif;
    font-weight: lighter !important;
    -webkit-filter: drop-shadow(7px 7px 7px #eaeaea);
}
/*This is the brand on the navbar - what you see on the far left*/
.navbar .navbar-brand {
    font-size: 36px;
    font-weight: lighter;
    color: #ffffff !important;
    margin-left: 15px;
    -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.125));
}
/* When you hover on the brand the color changes*/
.navbar .navbar-brand:hover {
    color: #f0f0f0 !important;
}
/*all of the list eletmetns with a hyper link have this class - all the nav options*/
.navbar .navbar-nav li a {
    color: #ffffff !important;
    font-size: 24px;
    marign-right: 25px;
    margin-left: 25px;
    padding: 14px 16px;

}
/*When you hover on the hyperlink in the navbar they get this addtional class*/
.navbar .navbar-nav li a:hover {
    color: #f0f0f0 !important;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px

}
/*When ever the nav is active or on that page*/
.navbar .navbar-nav li a:active {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px

}
.navbar-toggler {
    border: 0;
}

/*Class to space all the nav items a little to the left*/
.side {
    margin-right: 100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
